[submodule "contracts/evm/lib/forge-std"]
	path = contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm/lib/openzeppelin-contracts"]
	path = contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/evm/lib/poseidon2-evm"]
	path = contracts/evm/lib/poseidon2-evm
	url = https://github.com/zemse/poseidon2-evm
[submodule "contracts/evm/lib/solady"]
	path = contracts/evm/lib/solady
	url = https://github.com/vectorized/solady
[submodule "contracts/evm/lib/solidity-mmr"]
	path = contracts/evm/lib/solidity-mmr
	url = https://github.com/JoE11-y/solidity-mmr
